body {
  background-color:rgb(154, 181, 231);
}

.container {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(31, 104, 153);
  border-top: 4px solid rgb(84, 99, 134);
  box-shadow: 7px 13px 37px #000;
}

.c2 {
  font-size: 50px;
}

a {
  text-decoration: none;
}

button {
  width: 100px;
  height: 40px;
  background: rgb(16, 141, 26);
  box-shadow: 2px 5px 30px rgb(60, 90, 56);
  color: rgb(240, 242, 243);
  margin-bottom: 25px;
}

input {
  border: 1px solid rgb(235, 235, 245);
  margin-bottom: 30px;
  padding: 10px 10px;
  background-color: rgb(154, 181, 231);
  font-size: 14px;
  font-weight: lighter;
}